<div class="max-w-3xl mx-auto px-6 py-16">

  <div class="mb-12">

    <p class="text-xs uppercase tracking-[0.45em] text-gray-500 mb-4">
      Address
    </p>

    <h1 class="text-5xl text-white font-semibold">
      Edit Address
    </h1>

    <p class="text-gray-500 mt-5 text-lg">
      Update your shipping information.
    </p>

  </div>

  <div class="border border-white/10
              bg-[#070707]
              rounded-[32px]
              p-8">

    <%= render "form" %>

  </div>

</div>